body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: red;
}

.nopointer {
    pointer-events: none;
}

.cell {
    border: 1px solid #EEE;
    padding: 2px;
    text-align: center;
}
.cell:hover {
    background-color: #FAFAFA;
}

.ReactCodeMirror {
    border: 1px solid #EEE;
}

foreignObject body {
    background: none;
}

.transitionContents {
    background-color: none;
    font-size: 0.7em;
    text-align: center;
    margin: 5px;
}

.transitionContents input {
    width: 100%;
    box-sizing: border-box;
}

.stateContents {
    text-align: center;
    padding: 5px;
}

tr.satisfied {
    /* color: red; */
}
tr.not_satisfied {
    opacity: 0.4;
    /* color: blue; */
}